1. Write a Python Program to Find the Factorial of a Number?

In [1]:
def factorial(num):
    if (num == 1):
        return 1
    return num * factorial(num-1)

print(factorial(5))

120

2. Write a Python Program to Display the multiplication Table?

In [2]:
def table(num, i):
    if i == 10:
        print(f'{num} x {i} = {num*i}')
        return
    print(f'{num} x {i} = {num*i}')
    table(num, i+1)

table(2, 1)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3. Write a Python Program to Print the Fibonacci sequence?

In [3]:
def fib(first, second):
    if (second >= 100):
        return
    if (first == 0):
        print(first)
    print(second)
    temp = first
    first = second
    second = temp + first
    fib(first, second)

fib(0,1)

0
1
1
2
3
5
8
13
21
34
55
89

4. Write a Python Program to Check Armstrong Number?

In [4]:
def armstrong(num):
    if (num < 10):
        return num**3
    return (num%10)**3 + armstrong(num//10)

num = 153

if (num == armstrong(num)):
    print('Number is a armstrong number')
else:
    print('Number is not a armstrong number')

Number is a armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [5]:
start = 100
end = 1000

def armstrong(num):
    if (num < 10):
        return num**3
    return (num%10)**3 + armstrong(num//10)

for i in range(start, end):
    if i == armstrong(i):
        print(f'Armstrong number is {i}')

Armstrong number is 153
Armstrong number is 370
Armstrong number is 371
Armstrong number is 407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [6]:
num = 10

sum = (num*(num +1))/2
print(sum)

55.0